* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(121, 25, 25);
    height: 100%;
    width: 100%;
}

/* -------------------------- */
.flex {
    display: flex;
}

.block {
    display: block;
}

/* -------------------------- */
main {
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#btn {
    font-weight: bold;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(236, 45, 45);
    flex: 0 0 auto;
}

#options {
    background-color: black;
    width: 450px;
    padding: 5px 25px;
    border-radius: 15px;
    color: rgb(226, 225, 225);
    gap: 20px;
}

#options > * {
    display: flex;
    align-items: center;
    gap: 10px;
}

#options > *:nth-child(1) {
    margin-right: auto;
    font-weight: bold;
}

#container {
    box-sizing: content-box;
    background-color: white;
    width: 80vh;
    flex-wrap: wrap;
    flex: 0 0 80vh;
    justify-content: center;
}

#btn:hover {
    background-color: white;
    cursor: pointer;
}

/* -------------------------- */
.square {
    height: calc(80vh / 16);
    width: calc(80vh / 16);
    border: 1px solid rgb(238, 238, 238);
}

.trail {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(44, 43, 43);
    opacity: 0.1;
}